.transactionHistoryTable {
    table-layout: auto;
    border: 2px solid silver;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
    width: 320px;
    margin: 50px auto;
    padding: 5px;
    background-color: beige;
  }
  .thead {
    background-color: rgb(21, 132, 25);
  }
  .trColumn:nth-of-type(even) {
      background-color: rgb(164, 205, 152);
  }
  .tdString {
    border: 2px solid silver;
  }